
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;

    div{
      display: flex;
      margin-top:0.8rem;
      padding: 5px;
      margin-left: 2%;

        img{
            width: 26px;
            height: 26px;
            margin-right: 5px;
            margin-top: 5px;
        }
        h1{
            font-size: 1.4rem;
            color: #1F2937;
            margin-right: 20%;
            
        }
    }

    nav{
        display: flex;
        margin-right: 2%;
        gap:1rem;
        a{
            display: flex;
            text-align: center;
            margin-top: 1.5rem;
            font-size: 0.8rem;
            color: #4B5563;
            padding: 0.5rem 0.7rem;
        }
        a:hover{
            text-decoration: underline;
        }

    }

       .link-btn-header{
         margin: 0;
         margin-top: 1rem;
         height: 8vh;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color:#21C05C;
         color: white;
         text-decoration: none;
         font-size: 0.8rem;
         border-radius: 5px;
         font-weight: 400;
         margin-bottom: 0.8rem;
        }

        .link-btn-header:hover{
          text-decoration: none;
          background-color: rgb(49, 135, 49);
        }
}

.primeira-section{
    width: 100%;
    height: 60vh;
    display: flex;

    section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;

        h2{
           font-size: 2.2rem;
           width: 80%;
           margin-left: 4%;
           color:#1F2937;
           font-weight: bold;
        }
        p{
            width: 80%;
            margin-left: 4%;
            color: #4B5563;
        }
        div{
            display: flex;
            width: 55%;
            justify-content: space-between;
            margin-left: 2%;

            .btn-left{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 4%;
                padding: 8px 16px;
                background-color: #21C05C;
                color: white;
                font-size: 0.9rem;
                cursor: pointer;
                border: none;
                border-radius: 5px;

                img{
                    width: 24px;
                    color:white;
                    background: transparent;
                    margin-left: 5px;
                }

            }
            .btn-right{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                border-radius: 5px;
                border:1px solid rgb(0, 123, 255);
                width: 9rem;
                padding-left: 0.2rem;
                height:8vh;
                background: transparent;
                color: rgb(0, 123, 255);
                cursor: pointer;
                text-align: center;
                font-size: 0.9rem;
              
                img{
                    width: 24px;
                    margin-left: 5px;
                    padding-right: 0.2rem;
                }
               
            }
        }
    }

    img{
        width: 21rem;
    }

}

.icone-btn-left{
    width: 2rem;
}
.dados-numericos{
    width: 100%;
     height: 25vh;
    background-color: #F3F5F8;
    display: flex;
    justify-content: space-around;

    div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color:#F3F5F8;
        height: 60%;
        margin-top: 2%;
      
        h3{
            color: #21C05C;
            font-weight: bold;
            text-align: center;
            background-color: #F3F5F8;

        }
        p{
            color:#4B5563;
            text-align: center;
            background-color: #F3F5F8;
        }
    }
    
}

.duvidas{
    width: 50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
}

.informacoes-adicionais{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60vh;
    padding-bottom: 3vh;

    article{
        width: 45%;
        height: 100%;
        background-color: #F3F5F8;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        div{
            background-color: #F3F5F8;
            display: flex;
            width: 45%;
            justify-content: space-around;
            .titulo-article-esquerda{
                background-color: #F3F5F8;
                color: #21C05C;
                font-weight: 600;
                font-size: 1.1rem;
                margin-left: -15px;
                img{
                    background-color: #80eaa7;
                }
            }
        }

        .titulo-article-direita{
             background-color: #F3F5F8;
             color: rgb(29, 115, 228);
             font-size: 1.1rem;
             font-weight: 600;
             padding-left: 0.2rem;
        }
        p{
            background-color: #F3F5F8;
            text-align: center;
            font-size: 0.9rem;
            color: #4B5563;
        }
        ul{
            background-color: #F3F5F8;
            li{
                background-color: #F3F5F8;
                font-size: 0.9rem;
                font-weight: 700;
            }
        }
      
    }
}

.produtos-disponiveis{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-color: #F3F5F8;
    margin-bottom: 3rem;
    margin-top: 2rem;

    div{
        margin-left: 10%;
        height: 20vh;
        padding-bottom: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #F3F5F8;
        h2{
            background-color: #F3F5F8;
        }
        p{
            background-color: #F3F5F8;
        }
    }

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap:4rem;
        background-color: #F3F5F8;
    }

    article{
        width: 220px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        text-align: center;
        border: 1px solid green;
        border-radius: 5px;
        img{
            width: 100%;
            height: 250px;
        }
        h3{
            color: #1F2937;
            font-size: 1.1rem;
            background-color: #F3F5F8;
        }
        p{
            font-size: 0.9rem;
            color:#4B5563;
            width: 70%;
            background-color: #F3F5F8;
        }

        button{
            padding: 8px 16px;
            border-radius: 5px;
            background-color: #21C05C;
            color: white;
            font-weight: 500;
            font-size: 0.9rem;
            border: none;
            margin-bottom: 1rem;

        }
    }
}

.comentarios{
    width: 100%;
    height: 80vh;

    h2{
        text-align: center;
        color: #1F2937;
        margin-bottom: 1.5rem;
    }
    p{
        text-align: center;
        margin-bottom: 1.5rem;
        color: #4B5563;
    }

    section{
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;

        article{
            border: 1px solid #21C05C;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;

            p{
                width: 70%;
                padding-bottom: 1rem;
                text-align: left;
            }

            span{
                color: rgba(214, 214, 11, 0.777);
                font-size: 2rem;
                padding-bottom:1rem;
            }
            h4{
                width: 90%;
                display: flex;
                justify-content: flex-start;
                color: #1F2937;
                font-weight: 600;
            }
            h5{
                width: 90%;
                display: flex;
                justify-content: flex-start;
                color: #4B5563;
                padding-bottom: 1rem;
                font-weight: 500;
            }
            
        }
    }

}