@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 13vh;
  border-bottom: 1px solid #d6dbe3;
}
header div {
  display: flex;
  margin-top: 0.8rem;
  padding: 5px;
  margin-left: 2%;
}
header div img {
  width: 26px;
  height: 26px;
  margin-right: 5px;
  margin-top: 5px;
}
header div h1 {
  font-size: 1.4rem;
  color: #1F2937;
  margin-right: 20%;
}
header nav {
  display: flex;
  margin-right: 2%;
  gap: 0.5rem;
}
header nav a {
  display: flex;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  color: #4B5563;
  padding: 0.5rem 0.7rem;
}
header nav a:hover {
  text-decoration: underline;
}
header .link-btn-header {
  margin: 0;
  margin-top: 1rem;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21C05C;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
header .link-btn-header:hover {
  text-decoration: none;
  background-color: rgb(49, 135, 49);
}

.primeira-section {
  width: 100%;
  height: 60vh;
  display: flex;
  margin-top: 2rem;
}
.primeira-section section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}
.primeira-section section h2 {
  font-size: 2.2rem;
  width: 80%;
  margin-left: 4%;
  color: #1F2937;
  font-weight: bold;
}
.primeira-section section p {
  width: 80%;
  margin-left: 4%;
  color: #4B5563;
}
.primeira-section section div {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-left: 2%;
}
.primeira-section section div .btn-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
  padding: 8px 16px;
  background-color: #21C05C;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.primeira-section section div .btn-left img {
  width: 24px;
  color: white;
  background: transparent;
  margin-left: 5px;
}
.primeira-section section div .btn-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 5px;
  border: 1px solid rgb(0, 123, 255);
  width: 9rem;
  padding-left: 0.2rem;
  height: 8vh;
  background: transparent;
  color: rgb(0, 123, 255);
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
}
.primeira-section section div .btn-right img {
  width: 24px;
  margin-left: 5px;
  padding-right: 0.2rem;
}
.primeira-section img {
  width: 21rem;
}

.icone-btn-left {
  width: 2rem;
}

.dados-numericos {
  margin-top: 2rem;
  width: 100%;
  height: 25vh;
  background-color: #F3F5F8;
  display: flex;
  justify-content: space-around;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.dados-numericos div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F3F5F8;
  height: 60%;
  margin-top: 2%;
}
.dados-numericos div h3 {
  color: #21C05C;
  font-weight: bold;
  text-align: center;
  background-color: #F3F5F8;
}
.dados-numericos div p {
  color: #4B5563;
  text-align: center;
  background-color: #F3F5F8;
}

.duvidas {
  width: 50%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5%;
}

.informacoes-adicionais {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60vh;
  padding-bottom: 3vh;
}
.informacoes-adicionais article {
  width: 45%;
  height: 100%;
  background-color: #F3F5F8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.informacoes-adicionais article div {
  background-color: #F3F5F8;
  display: flex;
  width: 45%;
  justify-content: space-around;
}
.informacoes-adicionais article div .titulo-article-esquerda {
  background-color: #F3F5F8;
  color: #21C05C;
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: -15px;
}
.informacoes-adicionais article div .titulo-article-esquerda img {
  background-color: #80eaa7;
}
.informacoes-adicionais article .titulo-article-direita {
  background-color: #F3F5F8;
  color: rgb(29, 115, 228);
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 0.2rem;
}
.informacoes-adicionais article p {
  background-color: #F3F5F8;
  text-align: center;
  font-size: 0.9rem;
  color: #4B5563;
}
.informacoes-adicionais article ul {
  background-color: #F3F5F8;
}
.informacoes-adicionais article ul li {
  background-color: #F3F5F8;
  font-size: 0.9rem;
  font-weight: 700;
}

.produtos-disponiveis {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  background-color: #F3F5F8;
  margin-bottom: 3rem;
  margin-top: 2rem;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.produtos-disponiveis div {
  margin-left: 10%;
  height: auto;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  background-color: #F3F5F8;
  margin-bottom: 2rem;
}
.produtos-disponiveis div h2 {
  background-color: #F3F5F8;
}
.produtos-disponiveis div p {
  background-color: #F3F5F8;
}
.produtos-disponiveis section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 3rem;
  background-color: #F3F5F8;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.produtos-disponiveis article {
  width: 20%;
  min-width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border: 1px solid green;
  border-radius: 5px;
}
.produtos-disponiveis article img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.produtos-disponiveis article h3 {
  color: #1F2937;
  font-size: 1.1rem;
  background-color: #F3F5F8;
}
.produtos-disponiveis article p {
  font-size: 0.9rem;
  color: #4B5563;
  width: 70%;
  background-color: #F3F5F8;
}
.produtos-disponiveis article button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #21C05C;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

.comentarios {
  width: 100%;
  height: 80vh;
}
.comentarios h2 {
  text-align: center;
  color: #1F2937;
  margin-bottom: 1.5rem;
}
.comentarios p {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #4B5563;
}
.comentarios section {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.comentarios section article {
  border: 1px solid #21C05C;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
.comentarios section article p {
  width: 70%;
  padding-bottom: 1rem;
  text-align: left;
}
.comentarios section article span {
  color: rgba(214, 214, 11, 0.777);
  font-size: 2rem;
  padding-bottom: 1rem;
}
.comentarios section article h4 {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  color: #1F2937;
  font-weight: 600;
}
.comentarios section article h5 {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  color: #4B5563;
  padding-bottom: 1rem;
  font-weight: 500;
}

.convite {
  width: 100%;
  height: 50vh;
  background-color: #F3F5F8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.convite h2 {
  margin-top: 2rem;
}
.convite p {
  color: #4B5563;
  background-color: #F3F5F8;
  width: 42%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
.convite div {
  width: 40%;
  display: flex;
  gap: 1rem;
  background-color: #F3F5F8;
}
.convite div button {
  width: 40%;
  height: 7vh;
  border-radius: 5px;
  font-size: 1rem;
  font-style: 600;
  margin-bottom: 3rem;
  cursor: pointer;
}
.convite div .btn-right {
  background: transparent;
  border: 1px solid #21C05C;
  color: #21C05C;
}
.convite div .btn-left {
  background-color: #21C05C;
  color: white;
  border: none;
}

footer {
  width: 100%;
  background-color: #1F2937; /* Cor de fundo */
  color: #9CA3AF; /* Cor do texto */
  padding: 3rem 0;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  background-color: #1F2937;
}

.footer-box {
  width: 40%;
  color: #9CA3AF;
  background-color: #1F2937;
}
.footer-box div {
  display: flex;
  background-color: #1F2937;
  gap: 0.1rem;
}
.footer-box div img {
  width: 28px;
  height: 28px;
  background-color: #1F2937;
}
.footer-box h3 {
  color: white;
  background-color: #1F2937;
  font-weight: 600;
}
.footer-box p {
  color: #9CA3AF;
  background-color: #1F2937;
  font-size: 0.9rem;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #1F2937;
  width: 100%;
}
.footer-social img {
  margin-top: 1rem;
  background-color: #1F2937;
  margin-right: 1rem;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
  color: #9CA3AF;
  background-color: #1F2937;
  margin-top: 5rem;
  font-size: 0.9rem;
}/*# sourceMappingURL=style.css.map */