
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;

    div{
      display: flex;
      margin-top:0.8rem;
      padding: 5px;
      margin-left: 2%;

        img{
            width: 32px;
            height: 32px;
            margin-right: 5px;
            margin-top: 5px;
        }
        h1{
            font-size: 1.8rem;
            color: #1F2937;
            margin-right: 20%;
            
        }
    }

    nav{
        display: flex;
        width: 50%;
        margin-right: 2%;
        a{
            width: 100%;
            justify-content: space-evenly;
            text-align: center;
            margin-top: 1.5rem;
            font-size: 0.8rem;
            color: #4B5563;
        }
        a:hover{
            text-decoration: underline;
        }

    }

       .link-btn-header{
         margin: 0;
         margin-top: 0.6rem;
         height: 8vh;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color:#21C05C;
         color: white;
         text-decoration: none;
         font-size: 0.8rem;
         border-radius: 5px;
         font-weight: 400;
         margin-bottom: 0.8rem;
        }

        .link-btn-header:hover{
          text-decoration: none;
          background-color: rgb(49, 135, 49);
        }
}

.primeira-section{
    width: 100%;
    height: 60vh;
    display: flex;

    section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;

        h2{
           font-size: 2.2rem;
           width: 80%;
           margin-left: 4%;
           color:#1F2937;
           font-weight: bold;
        }
        p{
            width: 80%;
            margin-left: 4%;
            color: #4B5563;
        }
        div{
            display: flex;
            width: 50%;
            justify-content: space-between;
            margin-left: 2%;

            .btn-left{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 4%;
                padding: 8px 16px;
                background-color: #21C05C;
                color: white;
                font-size: 0.9rem;
                cursor: pointer;
                border: none;
                border-radius: 5px;

                img{
                    width: 24px;
                    color:white;
                    background: transparent;
                    margin-left: 5px;
                }

            }
            .btn-right{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                border-radius: 5px;
                border:1px solid rgb(0, 123, 255);
                width: 8.2rem;
                padding-left: 0.2rem;
                height:8vh;
                background: transparent;
                color: rgb(0, 123, 255);
                cursor: pointer;
                text-align: center;
              
                img{
                    width: 24px;
                    margin-left: 5px;
                    padding-right: 0.2rem;
                }
               
            }
        }
    }

    img{
        width: 21rem;
    }

}

.icone-btn-left{
    width: 2rem;
}

.dados-numericos{
    width: 100%;
     height: 25vh;
    background-color: #F3F5F8;
    display: flex;
    justify-content: space-around;

    div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color:#F3F5F8;
        height: 60%;
        margin-top: 2%;
      
        h3{
            color: #21C05C;
            font-weight: bold;
            text-align: center;
            background-color: #F3F5F8;

        }
        p{
            color:#4B5563;
            text-align: center;
            background-color: #F3F5F8;
        }
    }
    
}

.duvidas{
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
}

.informacoes-adicionais{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60vh;

    article{
        width: 35%;
        background-color: #F3F5F8;
    }
}